<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Definições gerais -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/Damed.png'}"/>
     <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/cads.css'}"><!-- Importa o arquivo CSS para estilização -->
      <script src="@{'/public/javascripts/jquery-3.3.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <title>Formulário</title>
</head>

<body>
    
    <div class="container">
        <!-- Conteúdo do formulário -->
        <div class="form-image">
            <img src="@{'/public/images/logo2.png'}"> <!-- Imagem relacionada ao formulário (talvez um logo) -->
        </div>
        <div class="form">
    <form action="@{Pacientes.salvar}">

        <input type="hidden" id="idpaciente" name="usu.id" value="${usu?.id}">

        <div class="input-group">
                    <!-- Campos para informações do usuário -->
                    <div class="input-box">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="usu.nome" placeholder="Nome" value="${usu?.nome}" required />
            </div>
            
            <div class="input-box">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" id="email" name="usu.email" placeholder="E-mail" value="${usu?.email}" required />
            </div>
            
      
           
            <div class="input-box">
                <label for="dataNasc">Data de Nascimento:</label>
                <input type="date" class="form-control" id="dataNasc" name="usu.dataNasc" placeholder="Data de Nascimento" value="${usu?.dataNasc}" required />
            </div>
            
             <div class="input-box">
    <label for="genero">Gênero:</label>
    <select id="genero" name="usu.genero" class="form-select">
        <option selected>Escolher...</option>
        <option value="Masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
        <option value="Prefiro não informar">Prefiro não informar</option>
    </select>
</div>
                  <div class="input-box">
                <label for="cpf">CPF:</label>
                <input type="text" class="form-control" id="cpf"  name="usu.cpf" placeholder="CPF" value="${usu?.cpf}" required />
            </div>
            
                <div class="input-box">
                <label for="telefone">Telefone</label>
                <input type="tel" id="telefone" name="usu.telefone" placeholder="(XX) XXXXX-XXXX" value="${usu?.telefone}" required>
            </div>
        <div class="input-box">
    <label for="uf">UF:</label>
            <select class="form-select" id="uf">
                <option></option>
                #{list items:ufs, as:'u'}
                    <option #{if u == usu?.cidade?.uf} selected #{/if} value="${u}">${u}</option>
                #{/list}
            </select>
        </div>

        <div class="input-box">
            <label for="cidade">Cidade:</label>
            <select class="form-select" id="cidades" name="paciente.cidade.id">
                <option value="${usu?.cidade?.id}">${usu?.cidade?.nome}</option>
            </select>
        </div>

       <div class="input-box">
            <label for="endereco">Endereço:</label>
            <input type="text" class="form-control" id="endereco" name="usu.endereco" placeholder="Apartamento, hotel, casa, etc." value="${usu?.endereco}" required/>
        </div>
</div>
        <div class="continue-button">
                <button type="submit">Enviar</button>
            </div>
     </form>
        </div>
    </div>
</body>

</html>