#{extends 'main.html' /}
#{set title:'Formulario Consulta' /}

<div class="card mt-5 p-4">
    <form action="@{Consultas.salvarConsulta}" method="POST">

        <div class="form-row">
            <!-- Selecione o Paciente -->
            <div class="form-group">
                <label for="paciente">Paciente:</label>
                <select class="form-select" name="pacienteId" required>
                    <option value="">Selecione o paciente</option>
                    #{if pacientes?.size() > 0}
                        #{list items=pacientes, as:'pac'}
                            <option value="${pac.id}">${pac.nome}</option>
                        #{/list}
                    #{/if}
                </select>
            </div>

            <!-- Selecione o Profissional -->
            <div class="form-group">
                <label for="profissional">Profissional:</label>
                <select class="form-select" name="profissionalId" required>
                    <option value="">Selecione o profissional</option>
                    #{if profissionais?.size() > 0}
                        #{list items=profissionais, as:'prof'}
                            <option value="${prof.id}">${prof.nome} - ${prof.profissao}</option>
                        #{/list}
   

                    #{/if}
                </select>
            </div>

             <div class="form-group">
        <label for="dataConsulta">Data:</label>
        <input type="date"  class="form-control" name="dataConsultaStr" required />
    </div>
      </br>

        <button type="submit" class="btn btn-primary">Salvar Consulta</button>
    </form>
</div>
